Repository lhbruneton/taormina: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "{apps,libs}/**/*.{html,ts}": [
    "eslint"
  ],
  "apps/**/*.css": [
    "stylelint"
  ]
}

fix(state): handle error in effect inner observable
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.ts
Due: eslint

feat: increase resource by hand
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
Due: eslint

test(face-up-piles-cards): fix typo
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.spec.ts
Due: eslint

feat(domains-cards): add initial available development slots
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.models.ts
Due: eslint

feat(hands-cards): add select and remove actions
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.actions.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.facade.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.reducer.ts
Due: eslint

feat(game-rules): use resources to put hand card in slot
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat: add interactions and feedback to buy hand card
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
Due: eslint

feat(domains-cards): add selectors for domain min and max col
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat(domains-cards): add create card action and effect, fix tests mocks
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
Due: eslint

fix(game-rules): add take(1) to complete subscription
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

refactor(game-rules): clean up complex object in subscription
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat: create available development slot when adding road
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat: dynamic grid template
  apps/taormina-duel/src/app/app.component.css
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
Due: eslint, stylelint

refactor: group available road and hamlet slot in agglomeration
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.models.ts
  libs/shared-models/src/lib/structures/agglomeration.ts
  libs/shared-models/src/lib/types/domain.ts
Due: eslint

feat(lands-pile-cards): select/remove lands pile card
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.actions.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.facade.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.reducer.ts
Due: eslint

fix(game-rules): change to agglomeration for face up piles cards
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat: put selected lands pile card in available slot
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat(domains-cards): add selector for mastery
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
  libs/shared-models/src/lib/structures/development.ts
Due: eslint

feat: show domains trade/strength mastery
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
Due: eslint

chore: remove jest-preset-angular warnings
  apps/taormina-duel/jest.config.js
  apps/taormina-duel/src/test-setup.ts
  libs/data-access-game/jest.config.js
  libs/data-access-game/src/test-setup.ts
  libs/feature-engine/jest.config.js
  libs/feature-engine/src/test-setup.ts
  libs/shared-constants/jest.config.js
  libs/shared-constants/src/test-setup.ts
  libs/shared-models/jest.config.js
  libs/shared-models/src/test-setup.ts
  libs/shared-utils/jest.config.js
  libs/shared-utils/src/test-setup.ts
  libs/ui-card/jest.config.js
  libs/ui-card/src/test-setup.ts
Due: eslint

chore: display code coverage in tests results
  apps/taormina-duel/jest.config.js
  libs/data-access-game/jest.config.js
  libs/feature-engine/jest.config.js
  libs/shared-constants/jest.config.js
  libs/shared-models/jest.config.js
  libs/shared-utils/jest.config.js
  libs/ui-card/jest.config.js
Due: none

fix(game): event die should be thrown first
  libs/data-access-game/src/lib/+state/game/game.effects.spec.ts
  libs/data-access-game/src/lib/+state/game/game.effects.ts
Due: eslint

feat(domains-cards): get cards not next to a warehouse
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat(domains-cards): steal unprotected resources when count above threshold
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
Due: eslint

feat: split throw dice to steal before production
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

chore: npm update
  package-lock.json
Due: none

test(game-rules): test all except errors
  libs/feature-engine/src/lib/game-rules.service.spec.ts
Due: eslint

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

feat(domains-cards): expose domain min max row through facade
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat: dynamic grid-template-rows from domain min max
  apps/taormina-duel/src/app/app.component.css
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
Due: eslint, stylelint

refactor(domains-cards): rename side neighbors selector
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat(domains-cards): extend neighboring cards to second row
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat: allow selection of unavailable agglomeration cards
  apps/taormina-duel/src/app/app.component.html
Due: eslint

feat(game-rules): add town specific rules when buying card
  libs/feature-engine/src/lib/game-rules.service.spec.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

Rename main to main_ci
  .github/workflows/main_ci.yml
Due: none

Delete main.yml
  .github/workflows/main.yml
Due: none

Create main_cd.yml
  .github/workflows/main_cd.yml
Due: none

Update main_cd.yml
  .github/workflows/main_cd.yml
Due: none

fix: build to docs folder for gh-pages deployment
  .github/workflows/main_cd.yml
  angular.json
Due: none
