Repository lhbruneton/taormina: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Update README.md
  README.md
Due: none

test(hands-cards): expect explicit state
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.reducer.spec.ts
Due: eslint

feat(state): update domains cards value when throwing dice
  libs/data-access-game/src/lib/+state/dice/dice.effects.spec.ts
  libs/data-access-game/src/lib/+state/dice/dice.effects.ts
  libs/data-access-game/src/lib/+state/dice/dice.models.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat: generate shared-utils library
  angular.json
  jest.config.js
  libs/shared-utils/.eslintrc.json
  libs/shared-utils/README.md
  libs/shared-utils/jest.config.js
  libs/shared-utils/src/index.ts
  libs/shared-utils/src/test-setup.ts
  libs/shared-utils/tsconfig.json
  libs/shared-utils/tsconfig.lib.json
  libs/shared-utils/tsconfig.spec.json
  nx.json
  tsconfig.base.json
Due: eslint

feat(shared-utils): add dice random generation functions
  libs/shared-utils/src/lib/dice.ts
Due: eslint

feat: clean unused modules
  libs/shared-constants/src/index.ts
  libs/shared-constants/src/lib/shared-constants.module.ts
  libs/shared-models/src/index.ts
  libs/shared-models/src/lib/shared-models.module.ts
Due: eslint

feat(shared-models): create phases enum
  libs/shared-models/src/index.ts
  libs/shared-models/src/lib/types/phase.ts
Due: eslint

feat: remove dice state entities, add game state feature
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.spec.ts
  apps/taormina-duel/src/app/app.component.ts
  apps/taormina-duel/src/app/app.module.ts
  libs/data-access-game/src/index.ts
  libs/data-access-game/src/lib/+state/dice/dice.actions.ts
  libs/data-access-game/src/lib/+state/dice/dice.effects.spec.ts
  libs/data-access-game/src/lib/+state/dice/dice.effects.ts
  libs/data-access-game/src/lib/+state/dice/dice.facade.spec.ts
  libs/data-access-game/src/lib/+state/dice/dice.facade.ts
  libs/data-access-game/src/lib/+state/dice/dice.models.ts
  libs/data-access-game/src/lib/+state/dice/dice.reducer.spec.ts
  libs/data-access-game/src/lib/+state/dice/dice.reducer.ts
  libs/data-access-game/src/lib/+state/dice/dice.selectors.spec.ts
  libs/data-access-game/src/lib/+state/dice/dice.selectors.ts
  libs/data-access-game/src/lib/+state/game/game.actions.ts
  libs/data-access-game/src/lib/+state/game/game.effects.spec.ts
  libs/data-access-game/src/lib/+state/game/game.effects.ts
  libs/data-access-game/src/lib/+state/game/game.facade.ts
  libs/data-access-game/src/lib/+state/game/game.reducer.spec.ts
  libs/data-access-game/src/lib/+state/game/game.reducer.ts
  libs/data-access-game/src/lib/+state/game/game.selectors.spec.ts
  libs/data-access-game/src/lib/+state/game/game.selectors.ts
  libs/data-access-game/src/lib/data-access-game.module.ts
  libs/feature-engine/src/lib/game-rules.service.spec.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

test: fix missing imports
  apps/taormina-duel/src/app/app.component.spec.ts
Due: eslint

chore: updtr, husky 4 to 5
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: none

chore: add explicit-function-return-type eslint rule
  .eslintrc.json
  apps/taormina-duel-e2e/src/support/app.po.ts
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/index.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.facade.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.models.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.models.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.facade.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.models.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.models.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/game/game.facade.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.facade.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.models.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.facade.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.models.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.models.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.spec.ts
  libs/feature-engine/src/lib/game-rules.service.ts
  libs/shared-models/src/lib/structures/action.ts
  libs/shared-models/src/lib/structures/agglomeration.ts
  libs/shared-models/src/lib/structures/development.ts
  libs/shared-models/src/lib/structures/domain.ts
  libs/shared-models/src/lib/structures/event.ts
  libs/shared-models/src/lib/structures/hand.ts
  libs/shared-models/src/lib/structures/land.ts
  libs/shared-utils/src/lib/dice.ts
Due: eslint

chore: add strictInputAccessModifiers to angularCompilerOptions
  tsconfig.base.json
Due: none

style(app): fix case
  apps/taormina-duel/src/app/app.component.ts
Due: eslint

refactor(game-rules): case, injection order
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

test(stock-piles-cards.effects): inject mock selectors only when needed
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.spec.ts
Due: eslint

refactor(stock-piles-cards): change properties name for consistency
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.models.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.ts
Due: eslint

test(domains-cards.effects): inject mock selectors only when needed
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
Due: eslint

feat(domains-cards): change land value to available and locked resources
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.models.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/game/game.effects.spec.ts
  libs/data-access-game/src/lib/+state/game/game.effects.ts
  libs/shared-models/src/lib/types/resources.ts
Due: eslint

feat(face-up-piles-cards): finish renaming agglomeration to face up piles
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.ts
Due: eslint

feat(face-up-piles-cards): rename FaceUpState to FaceUpPilesCardsState
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
Due: eslint

feat: add available slots types to domains cards types
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.models.ts
  libs/shared-models/src/lib/structures/agglomeration.ts
  libs/shared-models/src/lib/structures/development.ts
  libs/shared-models/src/lib/structures/land.ts
  libs/shared-models/src/lib/types/domain.ts
Due: eslint

feat(domains-cards): initialize available road slots with undefined card id
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.models.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

test: cleanup
  apps/taormina-duel/src/app/app.component.spec.ts
  libs/data-access-game/src/lib/+state/game/game.effects.spec.ts
  libs/feature-engine/src/lib/game-rules.service.spec.ts
Due: eslint

feat: use locked resources to put selected face up pile card in selected slot
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat: add interactions and feedback to buy a road
  apps/taormina-duel/src/app/app.component.css
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
  libs/data-access-game/src/index.ts
  libs/shared-constants/src/lib/piles/face-up.ts
Due: eslint, stylelint

chore: updtr
  package-lock.json
  package.json
Due: none

feat(discard-pile-cards): handle error in state
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.actions.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.reducer.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.selectors.ts
Due: eslint

feat(domains-cards): handle error in state
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

feat(events-pile-cards): handle error in state
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.actions.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.reducer.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.selectors.ts
Due: eslint

feat(face-up-piles-cards): handle error in state
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
Due: eslint

feat(hands-cards): handle error in state
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.actions.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.reducer.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.selectors.ts
Due: eslint

feat(lands-pile-cards): handle error in state
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.actions.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.reducer.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.selectors.ts
Due: eslint

feat(stock-piles-cards): handle error in state
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.ts
Due: eslint

chore(prettier): re-add eslint config
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: {apps,libs}/**/*.{html,ts}
  stylelint: any of: apps/**/*.css
