Repository lhbruneton/taormina: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "{apps,libs}/**/*.{html,ts}": [
    "eslint"
  ],
  "apps/**/*.css": [
    "stylelint"
  ]
}

Deploying to gh-pages from @ 1f4dc4a77c9a522246bd11b50f778178eeeaf7bf 🚀
  index.html
  main.16409e8f82b9836bf674.js
  main.7b097c6b986c46a9ad1a.js
Due: none

test(domains-cards): fix typo
  libs/feature-engine/src/lib/game-rules.service.spec.ts
Due: eslint

feat(domains-cards): add removeDomainCard action
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.reducer.ts
  libs/data-access-game/src/test/fixtures/domains-cards.ts
Due: eslint

feat(game-rules): add putBackFromDomainToStockPile
  libs/feature-engine/src/lib/game-rules.service.spec.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat(app): add button to put back selected domain card
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
Due: eslint

Deploying to gh-pages from @ 2dd4ae6881c7d068fc98f9a27e3dc011b509f3c4 🚀
  index.html
  main.7b097c6b986c46a9ad1a.js
  main.a41221fbb326d87974c1.js
Due: none

feat(domains-cards): add selector to know if a domain has a community center
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
  libs/data-access-game/src/test/fixtures/domains-cards.ts
Due: eslint

feat(game-rules): draw any card from stock pile to hand
  libs/feature-engine/src/lib/game-rules.service.spec.ts
  libs/feature-engine/src/lib/game-rules.service.ts
Due: eslint

feat(shared-utils): add mappers from domain color to ids
  libs/shared-utils/src/index.ts
  libs/shared-utils/src/lib/domain.ts
Due: eslint

feat(app): draw any card from stock to hand when community center
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
Due: eslint

Deploying to gh-pages from @ 267a20a2fe8335251a625557f9cd569877427375 🚀
  index.html
  main.49bc46800703367283c3.js
  main.a41221fbb326d87974c1.js
Due: none

feat(domains-cards): add giveLockedResources action and effect
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.actions.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
Due: eslint

feat(app): add button to give locked resources to selected land card
  apps/taormina-duel/src/app/app.component.html
  apps/taormina-duel/src/app/app.component.ts
Due: eslint

Deploying to gh-pages from @ c404d0b2fbb1101231777bf4aa65c6fb5f9ffc05 🚀
  index.html
  main.1f0845cbe60c73749f2e.js
  main.49bc46800703367283c3.js
Due: none

chore: npm update
  package-lock.json
Due: none

chore: nx migrate 12.3.6
  package-lock.json
  package.json
Due: none

chore: nx migrate 12.4.0
  angular.json
  apps/taormina-duel/jest.config.js
  jest.preset.js
  libs/data-access-game/jest.config.js
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/game/game.effects.spec.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.spec.ts
  libs/feature-engine/jest.config.js
  libs/shared-constants/jest.config.js
  libs/shared-models/jest.config.js
  libs/shared-utils/jest.config.js
  libs/ui-card/jest.config.js
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint

chore: nx migrate 12.5.9
  nx.json
  package-lock.json
  package.json
Due: none

chore: nx migrate 12.6.6
  jest.config.js
  package-lock.json
  package.json
Due: none

chore: nx migrate 12.10.0
  apps/taormina-duel-e2e/src/plugins/index.js
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.facade.spec.ts
  package-lock.json
  package.json
Due: eslint

chore: nx migrate 13.0.0
  angular.json
  nx.json
  package-lock.json
  package.json
Due: none

chore: nx migrate 13.1.4
  angular.json
  apps/taormina-duel/tsconfig.app.json
  apps/taormina-duel/tsconfig.spec.json
  libs/data-access-game/tsconfig.lib.json
  libs/data-access-game/tsconfig.spec.json
  libs/feature-engine/tsconfig.lib.json
  libs/feature-engine/tsconfig.spec.json
  libs/shared-constants/tsconfig.lib.json
  libs/shared-constants/tsconfig.spec.json
  libs/shared-models/tsconfig.lib.json
  libs/shared-models/tsconfig.spec.json
  libs/shared-utils/tsconfig.lib.json
  libs/shared-utils/tsconfig.spec.json
  libs/ui-card/tsconfig.lib.json
  libs/ui-card/tsconfig.spec.json
  package-lock.json
  package.json
Due: none

chore: nx migrate latest
  .gitignore
  angular.json
  apps/taormina-duel/jest.config.js
  apps/taormina-duel/src/polyfills.ts
  libs/data-access-game/jest.config.js
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.selectors.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.selectors.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
  libs/data-access-game/src/lib/+state/game/game.selectors.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.selectors.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.selectors.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.ts
  libs/feature-engine/jest.config.js
  libs/shared-constants/jest.config.js
  libs/shared-models/jest.config.js
  libs/shared-utils/jest.config.js
  libs/ui-card/jest.config.js
  nx.json
  package-lock.json
  package.json
Due: eslint

Deploying to gh-pages from @ cf03ab49d4194cc6a73643d7597b6aaf066f88f8 🚀
  3rdpartylicenses.txt
  index.html
  main.1f0845cbe60c73749f2e.js
  main.b24258f229536c62.js
  polyfills.550c4332053a2ca5.js
  polyfills.cb14591dd08707d981c9.js
  runtime.049a1c2dee85e7d0.js
  runtime.e2a22c193c92c90bde15.js
  styles.31d6cfe0d16ae931b73c.css
  styles.ef46db3751d8e999.css
Due: none

chore: updtr
  package-lock.json
  package.json
Due: none

0.1.0
  package-lock.json
  package.json
Due: none

chore: npm version preminor
  package-lock.json
  package.json
Due: none

feat: add angular material
  angular.json
  apps/taormina-duel/src/app/app.module.ts
  apps/taormina-duel/src/custom-theme.scss
  apps/taormina-duel/src/index.html
  apps/taormina-duel/src/styles.css
  nx.json
  package-lock.json
  package.json
Due: eslint, stylelint

Deploying to gh-pages from @ 6ca7c8a53a93848cac9ea881ddafc6d688ed28bb 🚀
  3rdpartylicenses.txt
  index.html
  main.0388d7bf20fe68ed.js
  main.b24258f229536c62.js
  styles.2fd4eab311a03dc2.css
  styles.ef46db3751d8e999.css
Due: none

feat(ui-card): nx generate and fix component card
  libs/ui-card/src/lib/card/card.component.html
  libs/ui-card/src/lib/card/card.component.spec.ts
  libs/ui-card/src/lib/card/card.component.ts
  libs/ui-card/src/lib/ui-card.module.ts
Due: eslint

chore: setup storybook for the ui-card lib
  .storybook/main.js
  .storybook/tsconfig.json
  angular.json
  apps/ui-card-e2e/.eslintrc.json
  apps/ui-card-e2e/cypress.json
  apps/ui-card-e2e/src/fixtures/example.json
  apps/ui-card-e2e/src/integration/card/card.component.spec.ts
  apps/ui-card-e2e/src/support/commands.ts
  apps/ui-card-e2e/src/support/index.ts
  apps/ui-card-e2e/tsconfig.json
  libs/ui-card/.eslintrc.json
  libs/ui-card/.storybook/main.js
  libs/ui-card/.storybook/preview.js
  libs/ui-card/.storybook/tsconfig.json
  libs/ui-card/src/lib/card/card.component.stories.ts
  libs/ui-card/tsconfig.json
  libs/ui-card/tsconfig.lib.json
  package-lock.json
  package.json
Due: eslint

refactor(stock-piles): update deprecated selector with props to selector factory
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.ts
Due: eslint

refactor(face-up-piles): update deprecated selector with props to selector factory
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
Due: eslint

refactor(domains-cards): update single use selector with props to selector factory
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.facade.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

refactor(domains-cards): update multiple use selectors with props to single use selector factory
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.selectors.ts
Due: eslint

chore: npm run lint
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.selectors.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.selectors.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
  libs/data-access-game/src/lib/+state/game/game.selectors.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.selectors.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.selectors.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.ts
Due: eslint

Deploying to gh-pages from @ b75f687301ac76bddab53c93025f03fc46e7d663 🚀
  index.html
  main.0388d7bf20fe68ed.js
  main.cb2bfd9d93e7c3ea.js
Due: none

chore: nx migrate latest
  angular.json
  apps/taormina-duel/jest.config.ts
  apps/taormina-duel/tsconfig.app.json
  apps/taormina-duel/tsconfig.editor.json
  apps/taormina-duel/tsconfig.json
  apps/taormina-duel/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  libs/data-access-game/jest.config.ts
  libs/data-access-game/tsconfig.json
  libs/data-access-game/tsconfig.lib.json
  libs/data-access-game/tsconfig.spec.json
  libs/feature-engine/jest.config.ts
  libs/feature-engine/tsconfig.json
  libs/feature-engine/tsconfig.lib.json
  libs/feature-engine/tsconfig.spec.json
  libs/shared-constants/jest.config.ts
  libs/shared-constants/tsconfig.lib.json
  libs/shared-constants/tsconfig.spec.json
  libs/shared-models/jest.config.ts
  libs/shared-models/tsconfig.lib.json
  libs/shared-models/tsconfig.spec.json
  libs/shared-utils/jest.config.ts
  libs/shared-utils/tsconfig.lib.json
  libs/shared-utils/tsconfig.spec.json
  libs/ui-card/.storybook/tsconfig.json
  libs/ui-card/jest.config.ts
  libs/ui-card/tsconfig.json
  libs/ui-card/tsconfig.lib.json
  libs/ui-card/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Due: eslint

chore: adapt scripts to work with new nx cli
  .github/workflows/main_ci.yml
  package.json
Due: none

chore: fix npm conflicting dependencies
  package-lock.json
  package.json
Due: none
