Repository lhbruneton/taormina: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "{apps,libs}/**/*.{html,ts}": [
    "eslint"
  ],
  "apps/**/*.css": [
    "stylelint"
  ]
}

chore: update global npm packages version in README
  README.md
Due: none

Deploying to gh-pages from @ e7cdf02a2564b1f7d915b7e9e73277cce529781a 🚀
  3rdpartylicenses.txt
  index.html
  main.ca219ab331c16976.js
  main.cb2bfd9d93e7c3ea.js
  polyfills.550c4332053a2ca5.js
  polyfills.7eafa5958c8074d4.js
  runtime.049a1c2dee85e7d0.js
  runtime.3ec9f6429504f0fa.js
  styles.2fd4eab311a03dc2.css
  styles.86f8f91d32f9d4a1.css
Due: none

chore: setup nvm, update global packages
  .nvmrc
  README.md
Due: none

chore: add --skip-nx-cache to nx scripts
  README.md
  package.json
Due: none

chore: setup compodoc
  .github/workflows/documentation.yml
  .gitignore
  package-lock.json
  package.json
  tsconfig.doc.json
Due: none

fix(build): add not empty app css file
  apps/taormina-duel/src/app/app.component.css
Due: stylelint

Deploying to gh-pages from @ cf582e5b7be7d30c99d92f4ed71b237447d6dfd4 🚀
  index.html
  main.9f11adc40a0e0de3.js
  main.ca219ab331c16976.js
Due: none

feat: switch to rem
  apps/taormina-duel/src/styles.css
  libs/feature-game/src/lib/actions/actions/actions.component.css
  libs/feature-game/src/lib/dice/dice/dice.component.css
  libs/feature-game/src/lib/domain/domain/domain.component.css
  libs/feature-game/src/lib/domain/domain/domain.component.ts
  libs/feature-game/src/lib/phases/phases/phases.component.css
  libs/feature-game/src/lib/piles/piles/piles.component.css
Due: eslint, stylelint

refactor: rename face up to agglomeration
  libs/data-access-game/src/index.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.effects.spec.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.facade.spec.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.models.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.selectors.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.actions.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.facade.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.models.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.reducer.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.spec.ts
  libs/data-access-game/src/lib/+state/face-up-piles-cards/face-up-piles-cards.selectors.ts
  libs/data-access-game/src/lib/data-access-game.module.ts
  libs/feature-engine/src/lib/game-rules.service.spec.ts
  libs/feature-engine/src/lib/game-rules.service.ts
  libs/feature-game/src/lib/actions/actions/actions.component.html
  libs/feature-game/src/lib/actions/actions/actions.component.spec.ts
  libs/feature-game/src/lib/actions/actions/actions.component.ts
  libs/feature-game/src/lib/piles/piles/piles.component.html
  libs/feature-game/src/lib/piles/piles/piles.component.spec.ts
  libs/feature-game/src/lib/piles/piles/piles.component.ts
  libs/shared-constants/src/index.ts
  libs/shared-constants/src/lib/piles/agglomeration.ts
  libs/shared-constants/src/lib/piles/face-up.ts
Due: eslint

feat(assets): add icons
  apps/taormina-duel/src/assets/icons/a.png
  apps/taormina-duel/src/assets/icons/axe.png
  apps/taormina-duel/src/assets/icons/blacksmith.png
  apps/taormina-duel/src/assets/icons/brick.png
  apps/taormina-duel/src/assets/icons/bridge.png
  apps/taormina-duel/src/assets/icons/castle.png
  apps/taormina-duel/src/assets/icons/cave.png
  apps/taormina-duel/src/assets/icons/church.png
  apps/taormina-duel/src/assets/icons/city-hall.png
  apps/taormina-duel/src/assets/icons/cliff.png
  apps/taormina-duel/src/assets/icons/club.png
  apps/taormina-duel/src/assets/icons/field.png
  apps/taormina-duel/src/assets/icons/furnace.png
  apps/taormina-duel/src/assets/icons/gold-nugget.png
  apps/taormina-duel/src/assets/icons/harp.png
  apps/taormina-duel/src/assets/icons/hay.png
  apps/taormina-duel/src/assets/icons/market.png
  apps/taormina-duel/src/assets/icons/pasture.png
  apps/taormina-duel/src/assets/icons/path.png
  apps/taormina-duel/src/assets/icons/question-mark.png
  apps/taormina-duel/src/assets/icons/red-flag.png
  apps/taormina-duel/src/assets/icons/sawmill.png
  apps/taormina-duel/src/assets/icons/scale.png
  apps/taormina-duel/src/assets/icons/sheep.png
  apps/taormina-duel/src/assets/icons/ship.png
  apps/taormina-duel/src/assets/icons/spinning-wheel.png
  apps/taormina-duel/src/assets/icons/spruce.png
  apps/taormina-duel/src/assets/icons/stone.png
  apps/taormina-duel/src/assets/icons/swords.png
  apps/taormina-duel/src/assets/icons/village.png
  apps/taormina-duel/src/assets/icons/warehouse.png
  apps/taormina-duel/src/assets/icons/waterfalls.png
  apps/taormina-duel/src/assets/icons/wheat.png
  apps/taormina-duel/src/assets/icons/windmill.png
  apps/taormina-duel/src/assets/icons/wood.png
  apps/taormina-duel/src/assets/icons/yatch.png
Due: none

feat: add card back with type icon for agglomeration pile
  libs/feature-game/src/lib/piles/piles.module.ts
  libs/feature-game/src/lib/piles/piles/piles.component.css
  libs/feature-game/src/lib/piles/piles/piles.component.html
  libs/feature-game/src/lib/piles/piles/piles.component.ts
  libs/shared-utils/src/index.ts
  libs/shared-utils/src/lib/assets.ts
  libs/ui-card/src/lib/card-back/card-back.module.ts
  libs/ui-card/src/lib/card-back/card-back/card-back.component.css
  libs/ui-card/src/lib/card-back/card-back/card-back.component.html
  libs/ui-card/src/lib/card-back/card-back/card-back.component.spec.ts
  libs/ui-card/src/lib/card-back/card-back/card-back.component.ts
  libs/ui-card/src/lib/ui-card.module.ts
Due: eslint

feat: increase domains and piles cards size
  libs/feature-game/src/lib/domain/domain/domain.component.ts
  libs/feature-game/src/lib/piles/piles/piles.component.css
Due: eslint

feat: add ressources icons for agglomeration pile
  libs/feature-game/src/lib/piles/piles/piles.component.html
  libs/feature-game/src/lib/piles/piles/piles.component.ts
  libs/ui-card/src/lib/card-back/card-back/card-back.component.css
  libs/ui-card/src/lib/card-back/card-back/card-back.component.html
  libs/ui-card/src/lib/card-back/card-back/card-back.component.ts
Due: eslint

Deploying to gh-pages from @ 17e853c93a68ec4dfd412ab6bc65c65253e28feb 🚀
  index.html
  main.0428380d90f4104e.js
  main.495f446bca4a48f9.js
Due: none

Deploying to gh-pages from @ 815ed4768b772be4727edba12b7fde5035065af1 🚀
  index.html
  main.0428380d90f4104e.js
  main.495f446bca4a48f9.js
Due: none

feat: display path and hamlet cards front
  libs/feature-game/src/lib/domain/domain.module.ts
  libs/feature-game/src/lib/domain/domain/domain.component.html
  libs/feature-game/src/lib/domain/domain/domain.component.ts
  libs/shared-utils/src/lib/assets.ts
  libs/ui-card/src/lib/card-front/card-front.module.ts
  libs/ui-card/src/lib/card-front/card-front/card-front.component.css
  libs/ui-card/src/lib/card-front/card-front/card-front.component.html
  libs/ui-card/src/lib/card-front/card-front/card-front.component.spec.ts
  libs/ui-card/src/lib/card-front/card-front/card-front.component.ts
  libs/ui-card/src/lib/ui-card.module.ts
Due: eslint

feat: display land cards front
  apps/taormina-duel/src/assets/icons/dice_1.png
  apps/taormina-duel/src/assets/icons/dice_2.png
  apps/taormina-duel/src/assets/icons/dice_3.png
  apps/taormina-duel/src/assets/icons/dice_4.png
  apps/taormina-duel/src/assets/icons/dice_5.png
  apps/taormina-duel/src/assets/icons/dice_6.png
  libs/feature-game/src/lib/domain/domain/domain.component.html
  libs/feature-game/src/lib/domain/domain/domain.component.ts
  libs/shared-utils/src/lib/assets.ts
  libs/ui-card/src/lib/card-front/card-front/card-front.component.css
  libs/ui-card/src/lib/card-front/card-front/card-front.component.html
  libs/ui-card/src/lib/card-front/card-front/card-front.component.ts
Due: eslint

Deploying to gh-pages from @ 0a169c61f9aed717933f7da98c5714ba885f3e6c 🚀
  assets/icons/dice_1.png
  assets/icons/dice_2.png
  assets/icons/dice_3.png
  assets/icons/dice_4.png
  assets/icons/dice_5.png
  assets/icons/dice_6.png
  index.html
  main.0428380d90f4104e.js
  main.9503dc7d67fb7de0.js
Due: none

refactor(ui-card): clear unused component
  libs/ui-card/src/lib/card/card.component.html
  libs/ui-card/src/lib/card/card.component.spec.ts
  libs/ui-card/src/lib/card/card.component.stories.ts
  libs/ui-card/src/lib/card/card.component.ts
  libs/ui-card/src/lib/ui-card.module.ts
Due: eslint

feat(ui-card): use translate and transition to display card selection
  libs/ui-card/src/lib/card-back/card-back/card-back.component.css
  libs/ui-card/src/lib/card-back/card-back/card-back.component.html
  libs/ui-card/src/lib/card-back/card-back/card-back.component.ts
  libs/ui-card/src/lib/card-front/card-front/card-front.component.css
  libs/ui-card/src/lib/card-front/card-front/card-front.component.html
  libs/ui-card/src/lib/card-front/card-front/card-front.component.ts
Due: eslint

Deploying to gh-pages from @ a4b1e8b0b1ad6ae4718eb56c875c6b68c099b95c 🚀
  index.html
  main.9503dc7d67fb7de0.js
  main.e78a2fca7ae68611.js
Due: none

Deploying to gh-pages from @ 1c285e7b42517c880cd92d5d851c6dcdddd23a11 🚀
  index.html
Due: none

Deploying to gh-pages from @ 3efc4816cb64e69c6e71425466b16a3870901e37 🚀
  index.html
  main.b3739bd99c405c3c.js
  main.e78a2fca7ae68611.js
  styles.c38186a271829ae6.css
  styles.cd26e4b1276d659a.css
Due: none

chore: upgrade to nx 16 part 2
  package-lock.json
  package.json
Due: none

chore: upgrade to nx 16 part 3
  .gitignore
  .storybook/main.js
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.effects.ts
  libs/data-access-game/src/lib/+state/discard-pile-cards/discard-pile-cards.effects.ts
  libs/data-access-game/src/lib/+state/domains-cards/domains-cards.effects.ts
  libs/data-access-game/src/lib/+state/events-pile-cards/events-pile-cards.effects.ts
  libs/data-access-game/src/lib/+state/hands-cards/hands-cards.effects.ts
  libs/data-access-game/src/lib/+state/lands-pile-cards/lands-pile-cards.effects.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.effects.ts
  migration-storybook.log
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: eslint

Deploying to gh-pages from @ 9d9a945846ddde79904deeb3cb3024c66d5994b3 🚀
  3rdpartylicenses.txt
  index.html
  main.b3739bd99c405c3c.js
  main.d8a4bad553b35447.js
  polyfills.0bb2002302237a68.js
  polyfills.7eafa5958c8074d4.js
  styles.87e11c51e9e56d6c.css
  styles.c38186a271829ae6.css
Due: none

chore: migrate nx latest
  .eslintrc.json
  .gitignore
  .prettierignore
  apps/taormina-duel-e2e/project.json
  apps/taormina-duel/project.json
  apps/taormina-duel/src/app/app.module.ts
  apps/taormina-duel/src/custom-theme.scss
  apps/ui-card-e2e/project.json
  libs/data-access-game/project.json
  libs/data-access-game/src/lib/+state/agglomeration-piles-cards/agglomeration-piles-cards.selectors.ts
  libs/data-access-game/src/lib/+state/stock-piles-cards/stock-piles-cards.selectors.ts
  libs/feature-engine/project.json
  libs/feature-engine/src/lib/game-rules.service.spec.ts
  libs/feature-game/project.json
  libs/shared-constants/project.json
  libs/shared-models/project.json
  libs/shared-utils/project.json
  libs/ui-card/project.json
  nx.json
  package-lock.json
  package.json
Due: eslint
